@import "anita.css";
@import "clopedia.css";
@import "daniel.css";
@import "fanilo.css";
@import "honey.css";
@import "jacquit.css";
@import "jerome.css";
@import "kati.css";
@import "manjaka.css";
@import "natacha.css";
@import "noeline.css";
@import "petah.css";
@import "prisca.css";
@import "rinon.css";
@import "rosny.css";
@import "sandy.css";
@import "sarah.css";
@import "shaun.css";
@import "sugi.css";
@import "synthia.css";

:root {
  --current-slide: 0;
  --div-opacity: 0;
  --speed: 0.5s;
  min-height: 100%;
  background-color: black;
}

body {
  position: relative;
  margin: 0;
  height: 100%;
}

body > div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: var(--div-opacity);
  transition: opacity var(--speed) ease-in-out;
}

.blank {
  --div-opacity: 1;
}

.blank.active + .div {
  --div-opacity: 0;
}

.active {
  --div-opacity: 1;
}

.active + div {
  --div-opacity: 1;
}

aside {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255,255,255,.5);
  padding: 1rem;
}
