@import "anita.css";
@import "clopedia.css";
@import "daniel.css";
@import "fanilo.css";
@import "honey.css";
@import "jacquit.css";
@import "jerome.css";
@import "kati.css";
@import "manjaka.css";
@import "natacha.css";
@import "noeline.css";
@import "petah.css";
@import "prisca.css";
@import "rinon.css";
@import "rosny.css";
@import "sandy.css";
@import "sarah.css";
@import "shaun.css";
@import "sugi.css";
@import "synthia.css";

:root {
  --current-slide: 0;
  --all-div-opacity: 1;
}

body {
  position: relative;
  margin: 0;
}

div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: var(--all-div-opacity);
}
